body{
    background-color: rgb(237, 172, 147);
    font-size: 25px;
    margin: 50px /*0*/px 100px 200px;
    font-family: system-ui;
    
    }
img{
    height: 300px;
    width: 300px;
}
p,
ol,
ul{
    width: 800px;/*600px*/
}
h1,
h2,
h3,
.section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: 20px;
    width: 100px;
    height: 30px;
    display: block;
    text-decoration: none;
    color: black; /*teksto spalva */
    /* background-color: rgb(187, 208, 171); */
    border: rgb(193, 109, 89) 1px solid;
    border-radius: 40px;
    text-align: center;
    padding-top: 2px; /*atstumas nuo virsaus zemyn, kai vertikaliai neiscentruotas tekstas*/
    position: absolute;
}
/* button{
    background: transparent;
    color: #00C2BA;
    width: 120px;
    height: 36px;
    font-family: sans-serif;
    font-size: 24px;
    border-color: #00C2BA;
    font-weight: 600;
    border-radius: 22px;
    letter-spacing: 7px;
    transition: 2s;
} */
.hero{
    background-color: transparent;
    background-image: url("../images/tool.jpeg");
    color:rgb(0, 0, 0);
    font-style: oblique;
    padding-top: 4px;
    max-width: 2000px;
}
.container{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
}
a:hover {
    /*border: 1px solid rgb(206, 117, 0);
    border-radius: 10px;*/
    color: rgb(0, 0, 0);
    /*background-color: rgba(192, 125, 48, 0.3);*/
    text-decoration: solid;
}